# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Compiled class file
*.class

# Package Files #
*.war
*.ear
*.zip
*.tar.gz
*.rar

/bin/
.project
.classpath
.settings
.idea
out
DSA.iml